/* Google Font */
/* https://fonts.google.com/share?selection.family=Courgette */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  font-family: "Courgette", cursive;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 18px;
  }
  button {
    font-size: 18px;
  }
}
